{% extends 'base.html' %} {% block content %}

<h2>Blok Sensus</h2>

<form method="POST">
  <div class="mb-3">
    <label>Kegiatan</label>

    <select name="kegiatan_id" class="form-select searchable">
      {% for k in kegiatan %}

      <option value="{{k.id}}">{{k.nama}}</option>

      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label>PPL</label>

    <select name="ppl_id" class="form-select searchable">
      {% for p in ppl_list %}

      <option value="{{p.id}}">{{p.nama}}</option>

      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
  <label>Kecamatan</label>

  <select name="kecamatan" class="form-control" required>
    {% set kec = data.kecamatan if data else '' %}

    <option value="">Pilih Kecamatan</option>

    <option value="Tidore" {% if kec == "Tidore" %}selected{% endif %}>Tidore</option>
    <option value="Tidore Selatan" {% if kec == "Tidore Selatan" %}selected{% endif %}>Tidore Selatan</option>
    <option value="Tidore Timur" {% if kec == "Tidore Timur" %}selected{% endif %}>Tidore Timur</option>
    <option value="Tidore Utara" {% if kec == "Tidore Utara" %}selected{% endif %}>Tidore Utara</option>
    <option value="Oba" {% if kec == "Oba" %}selected{% endif %}>Oba</option>
    <option value="Oba Selatan" {% if kec == "Oba Selatan" %}selected{% endif %}>Oba Selatan</option>
    <option value="Oba Tengah" {% if kec == "Oba Tengah" %}selected{% endif %}>Oba Tengah</option>
    <option value="Oba Utara" {% if kec == "Oba Utara" %}selected{% endif %}>Oba Utara</option>
  </select>
</div>

<div class="mb-3">
    <label>Daftar BS & Target</label>

    <small class="text-muted d-block mb-2">
        Format: Kode BS : Target (1 baris per BS)
    </small>

    <textarea
        name="kode_bs"
        rows="10"
        class="form-control"
        placeholder="SLS 1 Hager:10
SLS 1 Goto:16
SLS 6 Tomagoba:12"></textarea>
</div>


  <button class="btn btn-primary">Simpan</button>
      <a href="{{ url_for('bs') }}"
       class="btn btn-secondary">
<i class="bi bi-arrow-left"></i>
        Kembali

    </a>
</form>

{% endblock %}
