{% extends 'base.html' %} {% block content %}
<div class="d-flex justify-content-between mb-3">

    <h2>Blok Sensus</h2>

    <a href="{{ url_for('tambah_bs') }}" class="btn btn-success">
      Tambah BS
    </a>

</div>



<table class="table table-bordered">
  <tr>
    <th width="60">No</th>
    <th>Kegiatan</th>
    <th>Kode BS</th>
    <th>Kecamatan</th>
    <th>PPL</th>
    <th>Target</th>
    <th>Realisasi</th>
    <th>Status</th>
    <th>Aksi</th>
  </tr>

  {% for bs in data %}

  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ bs.kegiatan.nama }}</td>

    <td>{{ bs.kode_bs }}</td>
    <td>{{ bs.kecamatan }}</td>

    <td>{{ bs.ppl.nama }}</td>

    <td>{{ bs.target }}</td>

    <td>{{ bs.realisasi }}</td>

    <td>{{ bs.status }}</td>

    <td>
      <a
        href="{{ url_for(
'edit_bs',
id=bs.id
) }}"
        class="btn btn-warning btn-sm"
      >
        Edit
      </a>

      <a
        href="{{ url_for(
'hapus_bs',
id=bs.id
) }}"
        class="btn btn-danger btn-sm"
      >
        Hapus
      </a>
    </td>
  </tr>

  {% endfor %}
</table>

<a href="{{ url_for('dashboard') }}" class="btn btn-secondary"> Kembali </a>

{% endblock %}
