{% extends 'base.html' %}

{% block content %}

<h3>Tambah Form</h3>

<form method="POST">

<div class="mb-3">

<label class="form-label">

Nama Form

</label>

<input

type="text"

name="nama"

value="{{ form.nama if form else '' }}"

class="form-control"

required

>

</div>



<div class="mb-3">

<label class="form-label">

Role

</label>

<select

name="role"

class="form-select"

>


<option value="ppl"

{% if form and form.role == 'ppl' %}

selected

{% endif %}

>

PPL

</option>



<option value="pml"

{% if form and form.role == 'pml' %}

selected

{% endif %}

>

PML

</option>


</select>


</div>




<div class="mb-3">

<label class="form-label">

Deadline

</label>

<input

type="date"

name="deadline"

value="{{ form.deadline if form else '' }}"

class="form-control"

>

</div>




<button class="btn btn-primary">

Simpan

</button>



<a

href="{{ url_for('forms') }}"

class="btn btn-secondary"

>

Kembali

</a>


</form>


{% endblock %}