{% extends 'base.html' %} {% block content %}

<h3>{{kategori.nama}}</h3>

<a href="{{url_for('tambah_indikator')}}" class="btn btn-primary mb-3">
  Tambah Indikator
</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Indikator</th>

      <th>Satuan</th>

      <th>Menu</th>
    </tr>
  </thead>

  <tbody>
    {% for i in indikator %}

    <tr>
      <td>{{i.nama}}</td>

      <td>{{i.satuan}}</td>

      <td>
        <a
          class="btn btn-info btn-sm"
          href="{{url_for('grafik_indikator',
id=i.id)}}"
        >
          Grafik
        </a>

        <a
          class="btn btn-warning btn-sm"
          href="{{url_for('dashboard_sheet',
id=i.id)}}"
        >
          Spreadsheet
        </a>

        <a
          class="btn btn-danger btn-sm"
          href="{{url_for('hapus_indikator',
id=i.id)}}"
          onclick="return confirm('Hapus indikator?');"
        >
          Hapus
        </a>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('dashboard') }}" class="btn btn-secondary">
  <i class="bi bi-arrow-left"></i>
  Kembali
</a>

{% endblock %}
