{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

<div class="card shadow-sm">

    <div class="card-header bg-primary text-white">

        <h4 class="mb-0">

            {% if user %}
            <i class="bi bi-pencil-square"></i>
            Edit User
            {% else %}
            <i class="bi bi-person-plus"></i>
            Tambah User
            {% endif %}

        </h4>

    </div>



    <div class="card-body">

        <form method="POST">


            <div class="mb-3">

                <label class="form-label">

                    Nama

                </label>

                <input
                    type="text"
                    name="nama"
                    class="form-control"
                    required
                    value="{{ user.nama if user else '' }}"
                >

            </div>



            <div class="mb-3">

                <label class="form-label">

                    No HP

                </label>

                <input
                    type="text"
                    name="no_hp"
                    class="form-control"
                    value="{{ user.no_hp if user else '' }}"
                >

            </div>



            <div class="mb-3">

                <label class="form-label">

                    Desa

                </label>

                <input
                    type="text"
                    name="desa"
                    class="form-control"
                    value="{{ user.desa if user else '' }}"
                >

            </div>




            <div class="mb-3">

                <label class="form-label">

                    Kecamatan

                </label>

                <input
                    type="text"
                    name="kecamatan"
                    class="form-control"
                    value="{{ user.kecamatan if user else '' }}"
                >

            </div>




            <div class="mb-3">

                <label class="form-label">

                    Username

                </label>

                <input
                    type="text"
                    name="username"
                    class="form-control"
                    required
                    value="{{ user.username if user else '' }}"
                >

            </div>




            <div class="mb-3">

                <label class="form-label">

                    Password

                </label>


                <div class="input-group">

                    <input
                        type="password"
                        name="password"
                        id="password"
                        class="form-control"
                    >


                    <button
                        class="btn btn-outline-secondary"
                        type="button"
                        onclick="togglePassword()"
                    >

                        <i class="bi bi-eye"
                           id="eyeIcon"></i>

                    </button>

                </div>



                {% if user %}

                <small class="text-muted">

                    Kosongkan jika tidak ingin mengganti password

                </small>

                {% endif %}


            </div>




            <div class="mb-3">

                <label class="form-label">

                    Role

                </label>


                <select
                    name="role"
                    class="form-select"
                >


                    <option
                        value="admin"
                        {{ 'selected' if user and user.role=='admin' else '' }}
                    >

                        Admin

                    </option>



                    <option
                        value="pml"
                        {{ 'selected' if user and user.role=='pml' else '' }}
                    >

                        PML

                    </option>



                    <option
                        value="ppl"
                        {{ 'selected' if user and user.role=='ppl' else '' }}
                    >

                        PPL

                    </option>


                </select>


            </div>



            <hr>



            <button class="btn btn-primary">

                <i class="bi bi-save"></i>

                Simpan

            </button>



            <a
                href="{{ url_for('users') }}"
                class="btn btn-secondary"
            >

                <i class="bi bi-arrow-left"></i>

                Kembali

            </a>


        </form>


    </div>


</div>


</div>




<script>

function togglePassword(){

let input =
document.getElementById('password');

let icon =
document.getElementById('eyeIcon');


if(input.type==='password'){

input.type='text';

icon.classList.remove('bi-eye');

icon.classList.add('bi-eye-slash');

}
else{

input.type='password';

icon.classList.remove('bi-eye-slash');

icon.classList.add('bi-eye');

}

}

</script>


{% endblock %}